

.login-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url('../../assets/frango.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; /* Fixa a imagem no viewport */
  overflow: hidden; /* Evita o scroll */
  position: relative;
}

.login-container {
  background-color: white;
  padding: 30px;
  width: 33vw;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.login-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.login-error, .login-success {
  margin-top: 10px;
  font-size: 14px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-input {
  padding: 10px;
  width: 95%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-input::placeholder {
  color: #999;
}

.login-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #F3821B;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  width: 100%;
}

.remember-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.remember-me label {
  margin-top: 5px;
  font-size: 14px;
}

.remember-me-checkbox:checked {
  accent-color: #F3821B;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.register-button,
.forgot-password-button,
.back-to-login-button {
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  color: #F3821B;
  border: none;
  cursor: pointer;
}

.register-button:hover,
.forgot-password-button:hover,
.back-to-login-button:hover {
  text-decoration: underline;
}

.login-error {
  margin-top: 10px;
  font-size: 14px;
  color: red; 
}

.login-success {
  margin-top: 10px;
  font-size: 14px;
  color: green; 
}