.controle-estoque-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.controle-estoque-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.controle-estoque-search {
  margin-bottom: 15px;
}

.controle-estoque-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.controle-estoque-add-button {
  margin-bottom: 20px;
}

.controle-estoque-button {
  background-color: #F3821B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.controle-estoque-button:hover {
  background-color: #f15b1b;
}

.controle-estoque-list {
  width: 100%;
}

.controle-estoque-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}
