.controle-estoque-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.controle-estoque-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.controle-estoque-search {
  margin-bottom: 15px;
}

.controle-estoque-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.controle-estoque-add-button {
  margin-bottom: 20px;
}

.controle-estoque-button {
  background-color: #F3821B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.controle-estoque-button:hover {
  background-color: #f15b1b;
}

.controle-estoque-list {
  width: 100%;
}

.controle-estoque-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Estilos para a Tabela */
.controle-estoque-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.controle-estoque-table th,
.controle-estoque-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.controle-estoque-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.controle-estoque-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.controle-estoque-table tr:hover {
  background-color: #f1f1f1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 35px; /* Aumente o tamanho para maior visibilidade */
  font-weight: bold; /* Deixe o "X" mais evidente */
  cursor: pointer;
  color: #333; /* Cor do "X" */
  transition: color 0.3s;
}

.close-modal:hover {
  color: #ff0000; /* Altere a cor ao passar o mouse */
}
