.controle-estoque-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.controle-estoque-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.controle-estoque-search {
  margin-bottom: 15px;
}

.controle-estoque-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.controle-estoque-add-button {
  margin-bottom: 20px;
}

.controle-estoque-button {
  background-color: #F3821B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.controle-estoque-button:hover {
  background-color: #f15b1b;
}

.controle-estoque-list {
  width: 100%;
}

.controle-estoque-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Estilos para a Tabela */
.controle-estoque-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.controle-estoque-table th,
.controle-estoque-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.controle-estoque-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.controle-estoque-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.controle-estoque-table tr:hover {
  background-color: #f1f1f1;
}
