.main-content {
  display: grid;
  gap: 16px;
  padding: 24px;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #F9F9F9;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 10px;
}

.dashboard-contents{
  display: grid;
  gap: 16px;
  padding: 24px;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #F9F9F9;
}
  
  @media (min-width: 768px) {
    .dashboard-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .dashboard-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  

.dashboard-section .dashboard-card{
  width: 100%;
}


.dashboard-grid {
  display: flex;
  gap: 5%;
  justify-content: space-around;
  width: 100%;
}



.dashboard-title {
  padding-left: 20px;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
  border: 1px solid #CED4DA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.tabelas-dashboard-uppercase{
  text-transform: capitalize;
}


.dashboard-card {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #F3821B;
    width: 95%;
}
  
.dashboard-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #F3821B;
}


/***** TABELAS *****/
.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard-table th, .dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashboard-table th {
  background-color: #F3821B;
  text-align: left;
}

/***** FILTRO *****/
.dashboard-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.dashboard-datepickers {
  display: flex;
  gap: 10px;
  width: 50%;
}

.dashboard-div-button-export{
  display: flex;
  justify-content: right;
  width: 100%;
}

.dashboard-button-export{
  text-decoration: none;
  background-color: #f15b1b;
  padding: 10px;
  border-radius: 5px;
  color:white;
}

.dashboard-button-export:hover{
  background-color: #f15b1b;
  border-radius: 5px;
  text-decoration: underline;
}

.dashboard-label{
  display: flex;
  flex-direction: column;
}

.dashboard-filters input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  

/***** CONTADORES *****/
.dashboard-div-counters {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
}

.dashboard-card-counter {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 120px;
}

.dashboard-card-counter .card-content .card-subtitle {
  font-size: 1.2em; /* Aumenta o tamanho da fonte do subtítulo */
  color: #000000;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 32px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 16px;
  color: #555;
}

.card-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon img {
  width: 30px;
  height: 30px;
}

/* Definição de cores específicas para cada card */
.vendas {
  background-color: #009DFF;
  color: white;
}

.pedidos {
  background-color: #3DDE02;
  color: white;
}

.estoque {
  background-color: #FFBB00;
  color: white;
}

.clientes {
  background-color: #FF0000;
  color: white;
}
